<div class="container">
    <div class="scale roll-scale">
        <header class="scale-header">
            <h3 class="scale-title">Normal Roll</h3>
        </header>
        <span class="description">
            Roll from a pool of ??? characters. This pool is the normal pool of characters, and is available to roll
            from for all users. This pool is always available and will have the highest diversity of characters.
        </span>
        <button class="action-button">Roll 1⚡</button>
    </div>
</div>
